<mat-spinner *ngIf="isLoading"></mat-spinner>

<h2 class="title">Weekly Meal Plan</h2>

<div class="week-navigation" *ngIf="!isLoading">
  <button mat-icon-button (click)="previousWeek()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span class="week-label"
    >{{ mealPlan.weekStart | date : "dd.MM.yyyy." }} -
    {{ mealPlan.weekEnd | date : "dd.MM.yyyy." }}</span
  >
  <button mat-icon-button (click)="nextWeek()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<form (ngSubmit)="saveMealPlan()" *ngIf="!isLoading" class="meal-plan-form">
  <!-- DESKTOP VIEW -->
  <div class="table-wrapper" *ngIf="!isMobile">
    <table
      mat-table
      [dataSource]="daysOfWeek"
      class="mat-elevation-z2 full-width"
      *ngIf="mealPlan"
    >
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef>Day</th>
        <td mat-cell *matCellDef="let day">{{ day }}</td>
      </ng-container>

      <ng-container matColumnDef="breakfast">
        <th mat-header-cell *matHeaderCellDef>Breakfast</th>
        <td mat-cell *matCellDef="let day">
          <mat-form-field class="full-width">
            <mat-select
              multiple
              [(ngModel)]="mealPlan.days[day].breakfast"
              [name]="day + '_breakfast'"
            >
              <mat-option
                *ngFor="let recipe of breakfastRecipes"
                [value]="recipe.id"
              >
                {{ recipe.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="lunch">
        <th mat-header-cell *matHeaderCellDef>Lunch</th>
        <td mat-cell *matCellDef="let day">
          <mat-form-field class="full-width">
            <mat-select
              multiple
              [(ngModel)]="mealPlan.days[day].lunch"
              [name]="day + '_lunch'"
            >
              <mat-option
                *ngFor="let recipe of lunchRecipes"
                [value]="recipe.id"
              >
                {{ recipe.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="dinner">
        <th mat-header-cell *matHeaderCellDef>Dinner</th>
        <td mat-cell *matCellDef="let day">
          <mat-form-field class="full-width">
            <mat-select
              multiple
              [(ngModel)]="mealPlan.days[day].dinner"
              [name]="day + '_dinner'"
            >
              <mat-option
                *ngFor="let recipe of dinnerRecipes"
                [value]="recipe.id"
              >
                {{ recipe.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <!-- MOBILE VIEW -->
  <div *ngIf="isMobile">
    <div
      *ngFor="let day of daysOfWeek"
      class="mobile-day-card mat-elevation-z2"
    >
      <h3>{{ day }}</h3>

      <mat-form-field appearance="fill" class="mobile-select">
        <mat-label>Breakfast</mat-label>
        <mat-select
          multiple
          [(ngModel)]="mealPlan.days[day].breakfast"
          [name]="day + '_breakfast'"
        >
          <mat-option
            *ngFor="let recipe of breakfastRecipes"
            [value]="recipe.id"
          >
            {{ recipe.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mobile-select">
        <mat-label>Lunch</mat-label>
        <mat-select
          multiple
          [(ngModel)]="mealPlan.days[day].lunch"
          [name]="day + '_lunch'"
        >
          <mat-option *ngFor="let recipe of lunchRecipes" [value]="recipe.id">
            {{ recipe.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mobile-select">
        <mat-label>Dinner</mat-label>
        <mat-select
          multiple
          [(ngModel)]="mealPlan.days[day].dinner"
          [name]="day + '_dinner'"
        >
          <mat-option *ngFor="let recipe of dinnerRecipes" [value]="recipe.id">
            {{ recipe.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="save-button-container">
    <button mat-raised-button color="primary" type="submit">
      Save Meal Plan
    </button>
  </div>
</form>
