.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-width: 300px;
  margin: 0 auto;
  gap: 15px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 25px;
}

input {
  padding: 10px;
  font-size: 14px;
}

.divider {
  margin: 10px 0;
  font-weight: bold;
  color: #888;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: #757575;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button img {
  width: 20px;
  height: 20px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

p span {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  transition: color 0.3s;
}

.input-wrapper {
  width: 300px;
  margin-bottom: 10px;
}
