.recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.recipe-card {
  width: 300px;
}
.actions{
  margin-top: auto;
}

.recipes-header {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.input-wrapper {
  width: 300px;
  margin-bottom: 10px;
}