<router-outlet>
  <div class="recipes-header">
    <h1>Recipes</h1>
    <button mat-raised-button color="primary" routerLink="/recipes/add-recipe">
      + Add New Recipe
    </button>
  </div>
</router-outlet>
<app-category-filter
  (categoryChanged)="applyFilter($event)"
></app-category-filter>
<div class="recipes-container">
  <div *ngIf="recipes.length === 0" class="no-recipes-message">
    No recipes under that category
  </div>
  <mat-card *ngFor="let recipe of recipes" class="recipe-card">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>{{ recipe.category }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ recipe.description }}</p>
      <p><strong>Ingredients:</strong></p>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="actions">
      <router-outlet>
        <button
          mat-button
          color="primary"
          routerLink="/recipes/edit-recipe/{{ recipe.id }}"
        >
          Edit
        </button>
      </router-outlet>
      <button mat-button color="warn" (click)="deleteRecipe(recipe.id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
